<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bussines Specs</title>
</head>
<body>
    <section class="business-specs">
        <div class="spec">
            <img src="/desafio2-compass/assets/icons/Vector-trophy.png" alt="Spec Icon">
            <div class="spec-content">
                <h3>Title 1</h3>
                <p>Description for business spec 1.</p>
            </div>
        </div>
        <div class="spec">
            <img src="/desafio2-compass/assets/icons/Vector-check.png" alt="Spec Icon">
            <div class="spec-content">
                <h3>Title 2</h3>
                <p>Description for business spec 2.</p>
            </div>
        </div>
        <div class="spec">
            <img src="/desafio2-compass/assets/icons/Vector-shipping.png" alt="Spec Icon">
            <div class="spec-content">
                <h3>Title 3</h3>
                <p>Description for business spec 3.</p>
            </div>
        </div>
        <div class="spec">
            <img src="/desafio2-compass/assets/icons/Vector-customer-support.png" alt="Spec Icon">
            <div class="spec-content">
                <h3>Title 4</h3>
                <p>Description for business spec 4.</p>
            </div>
        </div>
    </section>
</body>
</html>