<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Search Session</title>
</head>
<body>
    <section class="search-section">
        <div class="search-left">
            <img src="/desafio2-compass/assets/icons/Vector-filter.png" alt="Filter Icon">
            <span>Showing 1–16 of 32 results</span>
        </div>
        <div class="search-right">
            <span>Show</span>
            <input type="number" value="16" min="1">
        </div>
    </section>
</body>
</html>